In [11]:
%%shell
# Inspred by https://colab.research.google.com/github/tensorflow/io/blob/master/docs/tutorials/postgresql.ipynb#scrollTo=YUj0878jPyz7
sudo apt-get -y -qq update
sudo apt-get -y -qq install postgresql-14
# Start postgresql server
sudo sed -i "s/port = 5432/port = 5433/g" /etc/postgresql/14/main/postgresql.conf
sudo service postgresql start
# Set password
sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'pyqrlew-db'"
# Install python packages
pip install -U pyqrlew pandas graphviz

UsageError: Cell magic `%%shell` not found.

In [12]:
import pyqrlew as qrl
from pyqrlew.io import PostgreSQL

DB = PostgreSQL()
DATASET = DB.extract()

Error response from daemon: network with name qrlew-net already exists

# Utils

In [11]:
from graphviz import Source
from IPython.display import display

def display_dot(dot_graph):
    # graph = Source(dot_graph)

    # # # Set the size of the graph
    # # graph.graph_attr['size'] = '8,6'  # Adjust the width and height as needed

    # # # Render the graph to a PNG image
    # # graph.format = 'png'
    # graph.render(filename='graph', format='png', cleanup=True)

    # # Display the graph image with a specific size
    # display(Image(filename='graph.png', width=1600))
    display(Source(dot_graph))

In [13]:
for p,rel in DATASET.relations():
    print(p)
    print(rel.render())
    display_dot(rel.dot())

['extract', 'beacon']
SELECT * FROM beacon

['extract', 'census']
SELECT * FROM census

In [3]:
MAGENTA_COLOR = '\033[35m'
BLUE_COLOR = '\033[34m'
RESET_COLOR = '\033[0m'

def print_query(query: str):
    keywords = ["SELECT", "AS", "GROUP BY", "LIMIT", "ORDER BY", "WHERE"]
    colored_query = query
    colored_query = colored_query.replace("WITH", "WITH\n ")
    colored_query = colored_query.replace(" SELECT", "\nSELECT")
    colored_query = colored_query.replace("),", "),\n ")
    for word in keywords:
        colored_query = colored_query.replace(word, MAGENTA_COLOR + word + RESET_COLOR)
    colored_query = colored_query.replace("WITH", BLUE_COLOR + "WITH" + RESET_COLOR)
    print(colored_query)

print_query("WITH customers AS (SELECT * FROM table) SELECT * FROM customers WHERE age > 25")

WITH
  customers AS (SELECT * FROM table)
SELECT * FROM customers WHERE age > 25

In [4]:
import json
from termcolor import colored

def to_json(str_schema: str):
    str_schema_to_json = str_schema.replace(" ", "")
    str_schema_to_json = str_schema_to_json.replace("{", '{"')
    str_schema_to_json = str_schema_to_json.replace(":", '":"')
    str_schema_to_json = str_schema_to_json.replace(",", '","')
    str_schema_to_json = str_schema_to_json.replace("}", '"}')
    return json.loads(str_schema_to_json)

def print_colored_json(json_data):
    formatted_json = json.dumps(json_data, indent=4)
    colored_json = highlight_keywords(formatted_json)
    print(colored_json)

def highlight_keywords(json_string):
    keywords = {
        "_PROTECTED_ENTITY_ID_": "red",
        "_PROTECTED_ENTITY_WEIGHT_": "red",
        "option": "yellow",
        "float": "blue",
        "int": "blue"
    }
    for keyword, color in keywords.items():
        json_string = json_string.replace(keyword, colored(keyword, color))
    return json_string

def print_schema(str_schema: str):
    json_obj = to_json(str_schema)
    print_colored_json(json_obj)

str_schema = '{_PROTECTED_ENTITY_ID_: option(str), _PROTECTED_ENTITY_WEIGHT_: int[0 1469283], field_l_2l: float[0 2468395440]}'

print_schema(str_schema)

{
    "_PROTECTED_ENTITY_ID_": "option(str)",
    "_PROTECTED_ENTITY_WEIGHT_": "int[01469283]",
    "field_l_2l": "float[02468395440]"
}

In [6]:
import pandas as pd
from sqlalchemy import text

def execute_query(database: PostgreSQL, query: str) -> pd.DataFrame:
    str_query = text(query)
    with database.engine().connect() as conn:
        res = conn.execute(str_query)
        names = res.keys()
    return pd.DataFrame([{name:col for name, col in zip(names, row)} for row in res])

execute_query(DB, "SELECT * FROM extract.census LIMIT 5")

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [7]:
# Relations can be evaluated directly too
path, census = DATASET.relations()[1]
DB.eval(census)

ProgrammingError: (psycopg.errors.UndefinedTable) relation "census" does not exist
LINE 1: SELECT * FROM census
                      ^
[SQL: SELECT * FROM census]
(Background on this error at: https://sqlalche.me/e/20/f405)